*{
    margin: 0px;
    padding: 0px;
}

.discover-cont{
    background-color: #181b1b;
    height: 98.5vh;
    color: white;
    overflow-y: scroll;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

.discover-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-shrink: 1;
    padding: 8px 0px 8px 0px;
}

.discover-header h1 {
    font-size: 30px;
    font-weight: 500;
    margin-top: 5px;
}

.discover-header-cont{
    width: 80%;
    max-width: 1000px;
}

.cards-container{
    max-width: 1000px;
    min-height: 100vh !important;
}

.interests-container{
    margin: 10px;
    margin-top: 20px;
    margin-left: 0px;
    margin-right: 0px;
    height: 40px;
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 2px;
    padding: 0px;
    background-color: #181b1b;
    height: 60px;
background: rgba(25, 26, 26, 0.93);
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(5px);
-webkit-backdrop-filter: blur(5px);
border: 1px solid rgba(25, 26, 26, 0.3);
z-index: 1000;
}

.interest-items-container{
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
    padding: 0px;
    margin-top: 10px;
}

.interest-side-item{
    display: flex;
    background-color: #144149;
    border: 1px solid #154d56;
    margin-top: 5px;
    margin-right: 8px;
    border-radius: 7px;
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    -ms-border-radius: 7px;
    -o-border-radius: 7px;
    align-items: center;
    padding: 5px;
    
}

.interest-side-item p {
    margin-left: 8px;
}

.save-interest-btn{
    background-color: #1e9db0;
    border: 0px;
    color: black;
    font-weight: 500;
    padding: 8px;
    width: 100%;
    border-radius: 50px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    -ms-border-radius: 50px;
    -o-border-radius: 50px;
}

.interests-side-cont{
    position: sticky;
    top: 40px;
}

.filter-icon{
    display: none;
}

.interests-container2{
    display: none;
}


@media (max-width: 768px){
    .discover-header-cont{
        width: 95%;
        margin-left: 15px;
    }

    .interests-side-cont{
        display: none;
    }

    .filter-icon{
        display: block;
    }

    .interests-container2{
        margin: 10px;
        margin-top: 20px;
        margin-left: 0px;
        margin-right: 0px;
        height: 40px;
        list-style-type: none;
        display: flex;
        justify-content: space-around;
        color: #878c8c;
        align-items: center;
        position: fixed;
        left: 0px;
        bottom: -10px;
        width: 95%;
        padding: 0px;
        background-color: #181b1b;
        height: 60px;
    background: rgba(25, 26, 26, 0.93);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(25, 26, 26, 0.3);
    z-index: 1000;
    }

    .navigation-item{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding-top: 13px;
        min-width: 80px;
    }

    .active-nav-item{
        color: white;
        border-top: 2px solid white;
    }
}